<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<description>信息异步处理配置 文件</description>

	<bean id="sendMsgQueue" class="cn.com.solex.ljump.queue.SendMsgQueue"
		lazy-init="false">
		<property name="period" value="10000" />
		<property name="queueName" value="sendMsg" />
	</bean>

</beans>